body {
    background-image: url(background.jpg);
}

ul {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;


}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.dropdown-content {
    text-align: center;
    width: 200px;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}


.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content li a {
    display: block;
    padding: 8px 15px;

}

.dropdown-content li a:hover {
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);

}




header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    z-index: 1000;
    transition: transform 2s;

}
.header-szöveg:hover {
    transform: scale(1.3);
}


.header-image {
    height: 40px;
    /* headerhez height méretezes */
    width: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    transform: 1s;
}
.header-image:hover {
    transform: scale(1.2);
}

footer {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: auto;
    text-align: left;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;    
    text-align: center;
    height: 100px;
    
}
/*  online kurzus alapján saját megtervezés és kivetelezés alapján*/
.sok-kártya {
    margin: 100px auto;
    width: 90%;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    white-space: nowrap;   /* egy sorba legyena 2db csoport */
}

.csoport {
    display: inline-flex;  /* egymas mellet legyen */
    gap: 1em;
    animation: mozgás 17s linear infinite;
    white-space: nowrap;
    flex-shrink: 0;
    height: 400px;  
}
.kártya:hover {
    transform: scale(1.2);
}

.kártya {
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    width: 300px;             
    height: auto;
    transform: 0.5s;            
}


.kártya img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
.kártya p {
    font-size: 1.1rem;
    color: white;
    margin: 0;
}
@keyframes mozgás {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.budapest-szöveg {
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    text-align: center;
    color: white;
    width: 30%;
    margin: 0 auto;        
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.budapest-szöveg:hover {
    transform: scale(1.2);
}


.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.box {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 500px;
    text-align: center;
    overflow: hidden;
    
}

.box-video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.box-video1 {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}



