article {
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;   
    height: auto;
}

section {
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
section img{
    height: 600px;
    width: 90%;
    border-radius: 20px;
}