body {
    background-image: url(background.jpg);
}

ul {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;


}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.dropdown-content {
    text-align: center;
    width: 200px;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}


.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content li a {
    display: block;
    padding: 8px 15px;

}

.dropdown-content li a:hover {
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);

}




header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    z-index: 1000;
    transition: transform 1s;
}
.header-szöveg:hover {
    transform: scale(1.2);
}


.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.box {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 500px;
    text-align: center;
    overflow: hidden;
    
}

.box-video {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.box-video1 {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}


.box h1 {
    font-size: 15px;
    margin: 10px 0 0 0;
}

.header-image {
    height: 40px;
    /* headerhez height méretezes */
    width: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    transform: 1s;
}
.header-image:hover {
    transform: scale(1.2);
}

.box1 {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 1020px;
    text-align: center;
    overflow: hidden;
    margin: 20px auto;
    /* minden középen*/
}

.box1 {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 1020px;
    text-align: left;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.left-img {
    float: left;
    width: 200px;
    height: 100px;
    margin: 0 15px 15px 0; /* jobb és alul távolság */
    object-fit: cover;
}

.img-right {
    float: right;
    right: 20px;
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin: 15px 0  0 15px;
    margin-top: 220px;

}

.box1 h1 {

    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding-left: 10px;  /* bal kép + margin */
    padding-right: 10px; /* jobb kép + margin */
    font-size: 15px;      /* szöveg optimázálás*/
    line-height: 1.6;
    text-align: justify;
    color: white;
    font-weight: 400;

}
.box2 {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 1020px;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    height: 400px;
    font-size: 15px;
}
.box2 h1 {
    font-size: 15px;      /* szöveg optimázálás*/
    line-height: 1.6;
    text-align: justify;
    color: white;
    font-weight: 400;
}
.nagy-budapest {
    font-size: 30px;
}
footer {
    color: white;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.005);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: auto;
    text-align: left;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;    
    text-align: center;
    height: 100px;
 
}
